{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <script src="{% static 'frontend/js/libs/fontawesome.js' %}"></script>

    <!-- Bootstrap -->
    <link href="{% static 'frontend/css/libs/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'frontend/js/libs/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'frontend/js/libs/popper.min.js' %}"></script>
    <script src="{% static 'frontend/js/libs/bootstrap.min.js' %}"></script>

    <link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">

    <script src="{% static 'frontend/js/project/basket.js' %}"></script>
    <script src="{% static 'frontend/js/project/book_detail.js' %}"></script>
</head>
<body>

<!-- Header -->
{% include 'frontend/header.html' %}

<!-- Информация о книге -->
<div class="container marketing pt-2" style="margin-bottom: 50px;">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">

            <div class="row">

                <!-- Название книги -->
                <h2 class="col-12 featurette-heading">{{ book.name }}</h2>

                <!-- Авторы и год издания -->
                <div class="col">
                    <p>
                        {% for author in book.authors.all %}
                            {{ author.name }}, {{ book.pub_year }}
                        {% endfor %}
                    </p>
                </div>

                <!-- Рейтинг -->
                <a href="#reviews">
                    <div class="col">
                        {% for i in  book.get_rating_in_str %}
                            <i class="fas fa-star text-warning"></i>
                        {% endfor %}
                        {% for i in  book.get_rest_stars %}
                            <i class="far fa-star text-warning"></i>
                        {% endfor %}
                    </div>
                </a>

                <!-- Количество отзывов -->
                <div class="col">
                    отзывы ({{ book.review_set.count }})
                </div>
            </div>

            <div class="row">

                <!-- Цена -->
                <h3 class="col-12 pt-2 pb-2 d-block">{{ book.price }} $</h3>

                {% if user.is_authenticated %}
                    <script>
                        is_in_basket({{ user.id }}, {{ book.id }})
                    </script>

                    <!-- Кнопка положить в корзину -->
                    <form id="basket_form" method="post" action="{% url 'add_to_basket' %}">
                        {% csrf_token %}
                        <button type="submit" id="basket_btn"
                                data-book_id="{{ book.id }}" data-user_id="{{ user.id }}"
                                class="btn btn-basket text-white ">
                            <i class="fas fa-shopping-cart mr-2"></i>
                            Положить в корзину
                        </button>
                    </form>

                    <!-- Кнопка уже в корзине -->
                    <button onclick="delete_from_basket({{ user.id }},{{ book.id }})" type="button" id="basket_check"
                            data-book_id="{{ book.id }}" data-user_id="{{ user.id }}"
                            class="btn btn-basket text-white ">
                        <i class="fas fa-check"></i>
                        <u>В корзине</u>
                    </button>
                {% else %}
                    <a tabindex="0" data-toggle="popover" data-trigger="focus"
                       data-placement="bottom"
                       data-content="Нужно авторизироваться">
                        <button type="button" class="btn btn-basket text-white">
                            <i class="fas fa-shopping-cart mr-2"></i>
                            Положить в корзину
                        </button>
                    </a>
                {% endif %}

                <!-- Статус книги -->
                <div class="col-12" style="padding: 8px;">
                    {{ book.status }}
                </div>

                <!-- Описание книги -->
                <div class="col-12 p-0 mt-2">
                    {{ book.description }}
                </div>

                {% if top_rated_review != None %}
                    <!-- Top rated отзыв -->
                    <div class="col-12 p-0 mt-2">
                        <p class="col-12 pt-2 pb-2 m-0 border rounded">
                            {{ top_rated_review.text }}
                        </p>
                        <small class="text-muted">
                            {{ top_rated_review.user.name }} {{ top_rated_review.user.surname }} оставил отзыв
                        </small>
                    </div>
                {% endif %}

            </div>

        </div>

        <!-- Картинка к книге -->
        <div class="col-md-5 order-md-1">

{#            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">#}
{#                <ol class="carousel-indicators">#}
{#                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>#}
{#                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>#}
{#                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>#}
{#                </ol>#}
{#                <div class="carousel-inner">#}
{#                    <div class="carousel-item active">#}
{#                        <img class="d-block w-50" src="{{ book.bookimage_set.all.first.image.url }}" alt="First slide">#}
{#                    </div>#}
{#                    <div class="carousel-item">#}
{#                        <img class="d-block w-50" src="..." alt="Second slide">#}
{#                    </div>#}
{#                    <div class="carousel-item">#}
{#                        <img class="d-block w-50" src="..." alt="Third slide">#}
{#                    </div>#}
{#                </div>#}
{#                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">#}
{#                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#                    <span class="sr-only">Previous</span>#}
{#                </a>#}
{#                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">#}
{#                    <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#                    <span class="sr-only">Next</span>#}
{#                </a>#}
{#            </div>#}

                        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                             src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16378f93342%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16378f93342%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.125%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                             data-holder-rendered="true" style="width: 500px; height: 500px;">
        </div>
    </div>
</div>

<!-- Дополнительная информация о книге -->
<div class="container-fluid">
    <hr>
    <div class="container marketing pt-2" style="margin: 40px 0 50px 0;">
        <table cellpadding="7px">
            <td style="width: 150px"><span class="text-muted">Категории:</span></td>
            <td>
                {% for category in book.categories.all %}
                    {{ category }}<br>
                {% endfor %}
            </td>
            </tr>
            <tr>
                <td><span class="text-muted">Автор:</span></td>
                <td>{{ book.authors.all.first }}</td>
            </tr>
            <tr>
            <tr>
                <td><span class="text-muted">Название:</span></td>
                <td>{{ book.name }}</td>
            </tr>
            <tr>
                <td><span class="text-muted">Издатель:</span></td>
                <td>{{ book.publisher }}</td>
            </tr>
            <tr>
                <td><span class="text-muted">Год издания:</span></td>
                <td>{{ book.pub_year }}</td>
            </tr>
            <tr>
                <td><span class="text-muted">Страниц:</span></td>
                <td>{{ book.pages }}</td>
            </tr>
            <tr>
                <td><span class="text-muted">Вес:</span></td>
                <td>{{ book.weight }} г</td>
            </tr>
        </table>
    </div>
</div>

<div class="container-fluid">
    <hr>

    <!-- Секция отзывов -->
    <div class="container marketing pt-2" style="margin-top: 30px;">

        <div class="row">

            <!-- Отзывы -->
            <h5 id="reviews" style="color:#222;">Отзывы ({{ book.review_set.count }}):</h5>

            <!-- Отзыв -->
            {% for review in book.review_set.all %}
                <div class="col-12">

                    <!-- Рейтинг -->
                    {% for i in  review.get_rating_in_str %}
                        <i class="fas fa-star text-warning"></i>
                    {% endfor %}
                    {% for i in  review.get_rest_stars %}
                        <i class="far fa-star text-warning"></i>
                    {% endfor %}

                    <!-- Имя, фамилия и дата -->
                    <span class="text-muted">{{ review.user.name }} {{ review.user.surname }} {{ review.updated }}</span>

                    <!-- Лайки -->
                    <span id="likes{{ review.id }}" data-user_id="{{ user.id }}"
                          data-review_id="{{ review.id }}"
                          class="float-right p-1 text-success bg-light rounded">
                    </span>
                    <script type="text/javascript">
                        $.ajax({
                            url: 'get_likes_count',
                            type: 'GET',
                            data: {review_id: {{review.id}}},
                            success: [function (data) {
                                var likes = document.getElementById('likes' +{{ review.id }});
                                likes.innerHTML = '+' + data['likes_count'];
                            }]
                        })
                    </script>

                    {% if user.is_authenticated %}

                        <!-- Кнопка поставить лайк -->
                        <span id="like-btn{{ review.id }}" onclick="like({{ user.id }},{{ review.id }})"
                              class="float-right p-1">
                            <i class="far fa-thumbs-up"></i>
                        </span>

                        <!-- Поставленный лайк -->
                        <span id="liked-btn{{ review.id }}" class="float-right p-1">
                            <i class="fas fa-thumbs-up"></i>
                        </span>

                        <script type="text/javascript">
                            $.ajax({
                                url: 'is_liked',
                                type: 'GET',
                                data: {review_id: {{review.id}}, user_id:{{user.id}}},
                                success: [function (data) {
                                    if (data['is_liked'] == true) {
                                        document.getElementById('like-btn{{ review.id }}').style.display = 'none';
                                        document.getElementById('liked-btn{{ review.id }}').style.display = 'block';
                                    }
                                    else {
                                        document.getElementById('like-btn{{ review.id }}').style.display = 'block';
                                        document.getElementById('liked-btn{{ review.id }}').style.display = 'none';
                                    }
                                }]
                            })
                        </script>

                    {% endif %}

                </div>

                <!-- Текст отзыва-->
                <div class="col-12">
                    <p>
                        {{ review.text }}
                    </p>
                </div>

                <!-- Секция с комментариями -->
                <div class="col-12">

                    {% if review.comment_set.count != 0 %}
                        <button type="button" class="btn btn-light" onclick="showComments({{ review.id }})">
                            Показать комментарии
                        </button>
                    {% endif %}

                    <!-- Оставить комментарий к отзыву -->
                    {% if user.is_authenticated %}
                        <button type="type" class="btn btn-light" onclick="showCommentForm('form'+{{ review.id }})"
                                style="margin-left: 10px;">
                            Оставить комментарий
                        </button>
                        <div id="form{{ review.id }}" style="display: none">
                            <form method="post" action="{% url 'add_comment' book.id review.id %}">
                                {% csrf_token %}

                                {{ commentForm }}
                                <button type="submit" class="btn btn-light">Отправить</button>
                            </form>
                        </div>
                    {% endif %}

                    <!-- Комментарии -->
                    <div class="col-12 border-left mt-2 mb-2">
                        <div class="col-12" style="display: none" id="{{ review.id }}">
                            {% for comment in review.comment_set.all %}
                                <span class="text-muted">{{ comment.user.name }} {{ comment.user.surname }} {{ comment.updated }}</span>
                                <p class="col-12">
                                    {{ comment.text }}
                                </p>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            {% endfor %}

            <!-- Оставить отзыв -->
            {% if user.is_authenticated %}

                <div class="col-12" style="margin: 20px 0 0 50px">
                    <button type="type" class="btn btn-dark" onclick="showReviewForm()">
                        Оставить отзыв
                    </button>
                </div>

                <!-- Форма для отзыва -->
                <div class="col-12" style="display: none" id="reviewForm">
                    <form method="post" action="{% url 'add_review' book.id %}">
                        {% csrf_token %}

                        <div>
                            {{ reviewForm }}

                            {#                            {% for i in  book.get_rating_in_str %}#}
                            {#                                <i class="fas fa-star text-warning"></i>#}
                            {#                            {% endfor %}#}
                            {#                            {% for i in  book.get_rest_stars %}#}
                            {#                                <i class="far fa-star text-warning"></i>#}
                            {#                            {% endfor %}#}
                            <i class="far fa-star text-warning" id="rating1" onclick="setRating(1)"></i>
                            <i class="far fa-star text-warning" id="rating2" onclick="setRating(2)"></i>
                            <i class="far fa-star text-warning" id="rating3" onclick="setRating(3)"></i>
                            <i class="far fa-star text-warning" id="rating4" onclick="setRating(4)"></i>
                            <i class="far fa-star text-warning" id="rating5" onclick="setRating(5)"></i>
                            <button type="submit" class="btn btn-light">Отправить</button>
                        </div>
                    </form>
                </div>

            {% else %}

                <p>Войдите, чтобы оставить отзыв</p>

            {% endif %}

        </div> <!-- End of row -->
    </div>
</div>
<script src="{% static 'frontend/js/project/book_detail.js' %}"></script>
</body>
</html>