{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="{% static 'frontend/css/libs/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'frontend/js/libs/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'frontend/js/libs/popper.min.js' %}"></script>
    <script src="{% static 'frontend/js/libs/bootstrap.min.js' %}"></script>
</head>
<body>
{{ book.name }}

<div class="container-fluid">
    <div class="row">
        <div class="col">

            <!-- Отзывы -->
            <h3>Отзывы ({{ book.review_set.count }}):</h3>
            <div class="reviews-section">
                {% for review in book.review_set.all %}
                    <div class="review">
                        {{ review.rating }}
                        {{ review.user.name }}
                        {{ review.user.surname }}
                        {{ review.updated }}
                        {{ review.text }}

                        <!-- Комментарии к отзыву -->
                        {% if review.comment_set.count != 0 %}
                            <button type="button" onclick="showComments({{ review.id }})">Показать комментарии</button>
                        {% endif %}
                        <div class="comments" style="display: none" id="{{ review.id }}">
                            {% for comment in review.comment_set.all %}
                                <div>
                                    {{ comment.user.name }}
                                    {{ comment.user.surname }}
                                    {{ comment.updated }}
                                    {{ comment.text }}
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Оставить комментарий к отзыву -->
                        <button type="type" onclick="showCommentForm('form'+{{ review.id }})">
                            Оставить комментарий
                        </button>
                        <div id="form{{ review.id }}" style="display: none">
                            <form method="post" action="{% url 'add_comment' book.id review.id %}">
                                {% csrf_token %}

                                {{ commentForm }}
                                <button type="submit">Оставить комментарий</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}

            </div>

            <!-- Оставить отзыв -->
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'add_review' book.id %}">
                    {% csrf_token %}

                    <div class="add-review">
                        {{ reviewForm }}
                        <button type="submit">Оставить отзыв</button>
                    </div>
                </form>
            {% else %}
                <p>Войдите, чтобы оставить отзыв</p>
            {% endif %}

        </div>
    </div>
</div>
<script src="{% static 'frontend/js/project/comments.js' %}"></script>
</body>
</html>