<!-- Header -->
<nav class="site-header  bg-light py-1 p-2 mb-2">
    <div class="container d-flex flex-column flex-md-row justify-content-between">

        <!-- На главную -->
        <a href="{% url 'index' %}"><i class="fas fa-home"></i></a>

        {% if user.is_authenticated %}

            <!-- Выйти -->
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-outline-primary">Выйти</button>
            </form>

        {% else %}

            <!-- Войти -->
            {% include 'frontend/login_modal.html' %}

        {% endif %}

        <!-- Корзина -->
        {% if user.is_authenticated %}
            <form id="basket" action="{% url 'checkout' user.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-dark">
                    Корзина
                </button>
            </form>
        {% else %}
            <a tabindex="0" class="btn btn-dark" role="button" data-toggle="popover" data-trigger="focus"
               data-placement="bottom"
               data-content="Нужно авторизироваться">Корзина</a>
        {% endif %}

    </div>
</nav>