<!-- Header -->
<nav class="site-header  bg-light py-1 p-2 mb-2">
    <div class="container d-flex flex-column flex-md-row justify-content-between">

        {% if user.is_authenticated %}

            <!-- Выйти -->
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-outline-primary">Выйти</button>
            </form>

        {% else %}

            <!-- Войти -->
            {% include 'frontend/login_modal.html' %}

        {% endif %}

        <!-- Корзина -->
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown basket-container">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="true">Корзина <i class="fas fa-shopping-cart"></i></a>
                <ul class="dropdown-menu basket-items text-center">
                    <li><a href="#">Опция</a></li>
                    <li><a href="#">Опция</a></li>
                    <li><a href="#">Опция</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>