{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="{% static 'frontend/css/libs/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'frontend/js/libs/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'frontend/js/libs/popper.min.js' %}"></script>
    <script src="{% static 'frontend/js/libs/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="container-fluid">
    <!-- Header -->
    <div class="row">
        <div class="col">
            {% if user.is_authenticated %}

                <!-- Выйти -->
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="">Выйти</button>
                </form>

            {% else %}

                <!-- Войти -->
                {% include 'frontend/login_modal.html' %}

            {% endif %}

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown basket-container">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="true">Корзина</a>
                    <ul class="dropdown-menu basket-items">
                        <li><a href="#"></a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
    <!-- End of Header -->

    <!-- Content -->
    <div class="row">

        {% for bookImage in booksImages %}
            <div class="col-3">

                <!-- Картинка и название -->
                <a href="{% url 'book_detail' bookImage.book_id %}">
                    <div>
                        <img height="200px" src="{{ bookImage.image.url }}">
                    </div>

                    <div>
                        {{ bookImage.book.name }}
                    </div>
                </a>

                <!-- Авторы -->
                <div>
                    {% for author in bookImage.book.authors.all %}
                        <div style="display: inline-block"> <!-- TODO -->
                            {{ author }}
                        </div>
                    {% endfor %}
                </div>

                <!-- Цена -->
                <div>
                    {{ bookImage.book.price }} $
                </div>
            </div>
        {% endfor %}

    </div>
    <!-- End of Content -->

</div>
<!-- End of container -->

</body>
</html>