{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <script src="{% static 'frontend/js/libs/fontawesome.js' %}"></script>

    <!-- Bootstrap -->
    <link href="{% static 'frontend/css/libs/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'frontend/js/libs/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'frontend/js/libs/popper.min.js' %}"></script>
    <script src="{% static 'frontend/js/libs/bootstrap.min.js' %}"></script>

    <!-- Project -->
    <link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">

    <script src="{% static 'frontend/js/project/book_detail.js' %}"></script>
    <script src="{% static 'frontend/js/project/basket.js' %}"></script>
</head>
<body>

<!-- Header -->
{% include 'frontend/header.html' %}

<!-- Content -->
<div class="container-fluid" style="padding-top: 10px;padding-left: 30px;">
    <div class="card-deck mb-3 text-center">

        {% for bookImage in booksImages %}
            <div class="card mb-4 box-shadow">

                <a href="{% url 'book_detail' bookImage.book_id %}">

                    <!-- Картинка -->
                    <div class="card-img text-center p-0 pt-3">
                        <img height="150px" src="{{ bookImage.image.url }}">
                    </div>

                    <!-- Название -->
                    <div class="card-body">
                        <div class="text-center">
                            <h6>{{ bookImage.book.name }}</h6>
                        </div>

                        <ul class="list-unstyled mt-0 mb-0">

                            <!-- Авторы и год -->
                            {% for author in bookImage.book.authors.all %}
                                <li class="text-muted">
                                    {{ author.name }}, {{ bookImage.book.pub_year }}
                                </li>
                            {% endfor %}

                            <!-- Цена -->
                            <li class="price">
                                {{ bookImage.book.price }} $
                            </li>

                            <!-- Рейтинг -->
                            {% for i in  bookImage.book.get_rating_in_str %}
                                <i class="fas fa-star text-warning"></i>
                            {% endfor %}
                            {% for i in  bookImage.book.get_rest_stars %}
                                <i class="far fa-star text-warning"></i>
                            {% endfor %}

                        </ul>
                    </div>
                </a>

            </div>
        {% endfor %}

    </div>
</div>
<!-- End of content -->

</body>
</html>